
.search input {
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid grey;
    font-size: medium;  
}
.search input:hover{
    border-color:rgb(7, 178, 246)
}
.search button{
    height: 56px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid grey;
    
}
.search button:hover{
    color: greenyellow;
    background-color:rgb(196, 143, 196) ;
    border-color:rgb(7, 178, 246)
}